<html>
    <head>
        <title>{{basepath}}</title>
        <link rel= "stylesheet" type= "test/css" href= "style.css"/>
    </head>
    <body>
        <h1> GCOV Visualization </h1>
    <div id= "info" >
        <table>
        <tr> <th>Current view: </th> <td> top view </td></tr>
        <tr> <th> Top Level: </th> <td> {{tracefile}} </td> </tr>
        </table>
    </div>
    <div id ="summaryTable">
        <table>
            <tr><th></th><th>Hits</th><th>Total</th><th>Coverage</th></tr>
            <tr>
                <td>Lines</td>
                <td>{{summary.lines.hits}}</td>
                <td>{{summary.lines.total}}</td>
                <td>{{summary.lines.percent}} %</td>
            </tr>
            <tr>
                <td>Functions</td>
                <td>{{summary.functions.hits}}</td>
                <td>{{summary.functions.total}}</td>
                <td>{{summary.functions.percent}} %</td>
            </tr>
            <tr>
                <td>Branches</td>
                <td>{{summary.branches.hits}}</td>
                <td>{{summary.branches.total}}</td>
                <td>{{summary.branches.percent}} %</td>
            </tr>
        </table>
        </div>
    <div id= "dirTable">
        <table>
            <tr >
                <th>Directory</th>
                <th></th><th></th><th></th>
                <th>Line Coverage</th>
                <th></th><th></th>
                <th>Functions </th>
                <th></th><th></th>
                <th>Branches </th>
                <th></th><th></th>
            </tr>
            <tr>
                <th></th><th></th><th></th>
                <th>Line Hits</th><th>Line Total</th><th>% Lines</th>
                <th>Function Hits</th><th>Function Total</th>
                <th>% Functions</th>
                <th>Branch Hits</th><th>Total Branches</th>
                <th>% Branches Taken</th>
                
            </tr>
            {% for name,item in directories %}
                <tr>
                    <td><a href=".{{name}}/index.html">{{name}}</td>
                    <th></th><th></th>
                    <td>{{item.lines.hits}}</td>
                    <td>{{item.lines.total}}</td>
                    <td>{{item.lines.percent}}% </td>
                    <td>{{item.functions.hits}}</td>
                    <td>{{item.functions.total}}</td>
                    <td>{{item.functions.percent}}%</td>
                    <td>{{item.branches.hits}}</td>
                    <td>{{item.branches.total}}</td>
                    <td>{{item.branches.percent}}%</td>                
                </tr>
            {% endfor %}
            
        </table>
    </div>
</body>
</html>
